<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="/contents/style/public.css" />
<link type="text/css" rel="stylesheet" href="/contents/style/app.css" />
<link type="text/css" rel="stylesheet" href="/contents/style/gray.css" />
<link type="text/css" rel="stylesheet" href="/contents/style/jquery.datetimepicker.css" />
<script>
/**
 * jsonp upload
 */
Dictionary = {
	file_upload_path : "/comm/imagesams/upfile",
	img_upload_path : "/comm/imagesams/upfile?dir=image",
	img_upload_type : "product",//默认产品图片
	img_upload_dir : "image",//默认图片
	img_is_resize : "0"//是否压缩：默认不压缩
};
</script>
<script type="text/javascript" src="/contents/scripts/jquery.1.12.4.js"></script>
<script type="text/javascript" src="/contents/scripts/jquery.mousewheel.js"></script>
<script charset="utf-8" type="text/javascript" src="/layout/const?v=0.4553343a23" ></script>
<script type="text/javascript" src="/contents/scripts/app.js?v=0.8748545"></script>
<script type="text/javascript" src="/contents/scripts/enum.js?v=0.8748545"></script>
<script type="text/javascript" src="/contents/scripts/lbox.js?v=0.8748545"></script>
<script type="text/javascript" src="/contents/scripts/viygrid.js?v=0.25841452"></script>
<script type="text/javascript" src="/contents/scripts/jquery.form.js"></script>
<script type="text/javascript" src="/contents/scripts/jquery.md5-cookie.js"></script>
<script type="text/javascript" src="/contents/scripts/vue-2.1.8.js?v=0.02"></script>
<script type="text/javascript" src="/contents/scripts/jquery.datetimepicker.js"></script>