<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rong.member.mapper.MemBaseMapper" >
  <resultMap id="BaseResultMap" type="com.rong.member.module.entity.TbMemBase" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="deltag" property="deltag" jdbcType="TINYINT" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="DECIMAL" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="group_id" property="groupId" jdbcType="BIGINT" />
    <result column="cate" property="cate" jdbcType="INTEGER" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="reg_from" property="regFrom" jdbcType="INTEGER" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="head_portrait" property="headPortrait" jdbcType="VARCHAR" />
    <result column="salt" property="salt" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="token_key" property="tokenKey" jdbcType="VARCHAR" />
    <result column="question" property="question" jdbcType="VARCHAR" />
    <result column="answer" property="answer" jdbcType="VARCHAR" />
    <result column="open_creditfile" property="openCreditfile" jdbcType="TINYINT" />
    <result column="last_login_date" property="lastLoginDate" jdbcType="TIMESTAMP" />
    <result column="recommend_member_id" property="recommendMemberId" jdbcType="BIGINT" />
    <result column="recommend_code" property="recommendCode" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="id_type" property="idType" jdbcType="INTEGER" />
    <result column="id_no" property="idNo" jdbcType="VARCHAR" />
    <result column="id_verify_status" property="idVerifyStatus" jdbcType="INTEGER" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="call" property="call" jdbcType="VARCHAR" />
    <result column="jg_info" property="jgInfo" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ListResultMap" type="com.rong.member.module.view.TvMemBase" extends="BaseResultMap" />
  <resultMap id="ViewResultMap" type="com.rong.member.module.view.TvMemBase" extends="ListResultMap" />
  <sql id="Base_Column_List" >
    e.`id`, e.`create_date`, e.`update_date`, e.`deltag`, e.`state`, e.`sort`, e.`user_name`, 
    e.`group_id`, e.`cate`, e.`nick_name`, e.`email`, e.`reg_from`, e.`qq`, e.`description`, 
    e.`head_portrait`, e.`salt`, e.`password`, e.`token_key`, e.`question`, e.`answer`, 
    e.`open_creditfile`, e.`last_login_date`, e.`recommend_member_id`, e.`recommend_code`, 
    e.`type`, e.`level`, e.`real_name`, e.`id_type`, e.`id_no`, e.`id_verify_status`, 
    e.`position`, e.`phone`, e.`call`,e.`jg_info`
  </sql>
  <sql id="query_condition" >
    <if test="entity != null" >
      
    </if>
  </sql>
  <sql id="select_for_list_tv" >
    select 
    <include refid="Base_Column_List" />
    from tb_mem_base e
  </sql>
  <select id="getCountPaging" resultType="java.lang.Integer" parameterType="com.rong.member.module.query.TsMemBase" >
    select count(1) as recordCount from tb_mem_base e where 1=1
    <include refid="query_condition" />
  </select>
  <select id="getListByBean" resultMap="ListResultMap" parameterType="com.rong.member.module.query.TsMemBase" >
    <include refid="select_for_list_tv" />
     where 1=1 
    <include refid="query_condition" />
    <if test="orders !=null and orders.size > 0" >
      order by ${orderStr}
    </if>
    <if test="null != pageInfo" >
      limit #{pageInfo.step},#{pageInfo.pageSize}
    </if>
  </select>
</mapper>