<div class="boxSearch searchLong">
    <div>使用状态：</div>
    <div>
        <select class="selSearch no-render" name="e.state.in" multiple="multiple" size="5"
                data-enumber="Consts.State"
                data-load='{"defaultItem":{"全部":""}}'
        >
        </select>
    </div>
</div>
<div class="boxSearch searchLong">
    <div>卡号类型：</div>
    <div>
        <select class="selSearch no-render" name="e.type.in" multiple="multiple" size="5"
                data-enumber="Consts.BankCardType"
                data-load='{"defaultItem":{"全部":""}}'
        >
        </select>
    </div>
</div>
<div class="boxSearch searchLong">
    <div>平台支持：</div>
    <div>
        <select class="selSearch no-render" name="e.platform.in" size="5"
                data-enumber="Consts.Platform"
                data-load='{"defaultItem":{"全部":""}}'
        >
        </select>
    </div>
</div>
<div class="boxSearch searchLong">
    <div>名称：</div>
    <div><input type="text" value='' class="input textSearch" name="e.name.like" /></div>
</div>
<script>
    function bankTypeFunc(tr,v,i){
        var desc = findNameByValueFromConsts(Consts.BankCardType,v);
        return desc;
    }
    function bankPlatformFunc(tr,v,i){
        var desc = findNameByValueFromConsts(Consts.Platform,v);
        return desc;
    }
</script>