<div class="boxSearch searchLong">
    <div>类型：</div>
    <div>
        <select class="selSearch no-render" name="e.type.eq" size="5"
                data-enumber="Consts.DictionaryType"
                data-load='{"defaultItem":{"全部":""}}'
        >
        </select>
    </div>
</div>
<div class="boxSearch searchLong">
    <div>键：</div>
    <div><input type="text" value='' class="input textSearch" name="e.key.like" /></div>
    <div>值：</div>
    <div><input type="text" value='' class="input textSearch" name="e.value.like" /></div>
</div>
<div class="boxSearch searchLong">
    <div>备注：</div>
    <div><input type="text" value='' class="input textSearch" name="e.description.like" /></div>
</div>