<form autocomplete="off" class="comm-view-form comm-iframe-form viy-form">
    <div class="comm-outer-box">
        <div class="comm-inner-box">
            <div class="comm-item-box">
                <div class="f-left w50">
                    <div class="comm-item-title"><div>用户id</div></div>
                    <div class="comm-item-content"><div class="f-left" id="userId"></div></div>
                </div>
                <div class="f-left w50">
                    <div class="comm-item-title"><div>用户姓名</div></div>
                    <div class="comm-item-content"><div class="f-left">
                        <span id="fullName"></span>
                    </div></div>
                </div>
            </div>
            <div class="comm-item-box">
                <div class="f-left w50">
                    <div class="comm-item-title"><div>手机号码</div></div>
                    <div class="comm-item-content"><div class="f-left" id="phone"></div></div>
                </div>
                <div class="f-left w50">
                    <div class="comm-item-title"><div>email</div></div>
                    <div class="comm-item-content"><div class="f-left" id="email"></div></div>
                </div>
            </div>
            <div class="comm-item-box">
                <div class="f-left w50">
                    <div class="comm-item-title"><div>微信号</div></div>
                    <div class="comm-item-content"><div class="f-left" id="wxNo"></div></div>
                </div>
                <div class="f-left w50">
                    <div class="comm-item-title"><div>公司名称</div></div>
                    <div class="comm-item-content"><div class="f-left" id="company"></div></div>
                </div>
            </div>
            <div class="comm-item-box">
                <div class="f-left w50">
                    <div class="comm-item-title"><div>职位</div></div>
                    <div class="comm-item-content"><div class="f-left" id="position"></div></div>
                </div>
                <div class="f-left w50">
                    <div class="comm-item-title"><div>座机</div></div>
                    <div class="comm-item-content"><div class="f-left" id="call"></div></div>
                </div>
            </div>
            <div class="comm-item-box">
                <div class="f-left w50">
                    <div class="comm-item-title"><div>传真</div></div>
                    <div class="comm-item-content"><div class="f-left" id="fax"></div></div>
                </div>
                <div class="f-left w50">
                    <div class="comm-item-title"><div>地址</div></div>
                    <div class="comm-item-content"><div class="f-left" id="address"></div></div>
                </div>
            </div>
            <div class="comm-item-box">
                <div class="f-left w50">
                    <div class="comm-item-title"><div>家乡</div></div>
                    <div class="comm-item-content"><div class="f-left" id="hometown"></div></div>
                </div>
            </div>
            <div class="comm-item-box">
                <div class="comm-item-title"><div>个人简介</div></div>
                <div class="comm-item-content"><div class="f-left" id="personalIntroduction"></div></div>
            </div>
            <div class="comm-item-box">
                <div class="comm-item-title"><div>公司简介</div></div>
                <div class="comm-item-content"><div class="f-left" id="companyIntroduction"></div></div>
            </div>
            <div class="comm-item-box">
                <div class="comm-item-title"><div>团队简介</div></div>
                <div class="comm-item-content"><div class="f-left" id="teamIntroduction"></div></div>
            </div>
            <div class="comm-item-box">
                <div class="comm-item-title"><div>荣耀</div></div>
                <div class="comm-item-content"><div class="f-left" id="glory"></div></div>
            </div>
            <div class="comm-item-box">
                <div class="f-left w50">
                    <div class="comm-item-title"><div>对方申请交换名片需认证</div></div>
                    <div class="comm-item-content"><div class="f-left" id="swapVerify" data-bind-function="bindYesOrNoFunc"></div></div>
                </div>
            </div>
            <div class="comm-item-box">
                <div class="f-left w50">
                    <div class="comm-item-title"><div>名片联系方式公开可见</div></div>
                    <div class="comm-item-content"><div class="f-left" id="contactPublicVisible" data-bind-function="bindYesOrNoFunc"></div></div>
                </div>
            </div>
        </div>
    </div>
    <#include  "../../layout/comm-view-btn.html" />
</form>
