<div class="boxSearch searchLong">
    <div>使用状态：</div>
    <div>
        <select id="selStateSearch" class="selSearch no-render" name="e.state.in" multiple="multiple" size="5"
                data-enumber="Consts.State"
                data-load='{"defaultItem":{"全部":""}}'
        >
        </select>
    </div>
</div>
<div class="boxSearch searchLong">
    <div>机构名称：</div>
    <div><input type="text" value='' class="input textSearch" name="e.name.like" /></div>
    <div>机构网址：</div>
    <div><input type="text" value='' class="input textSearch" name="e.netUrl.like" /></div>
</div>
<div class="boxSearch searchLong">
    <div>联系方式：</div>
    <div><input type="text" value='' class="input textSearch" name="e.servicePhone.like" /></div>
</div>