<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rong.openaccount.mapper.UserOpenAccountMapper" >
  <resultMap id="BaseResultMap" type="com.rong.openaccount.module.entity.TbUserOpenAccount" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="phone_num" property="phoneNum" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="SMALLINT" />
    <result column="id_num" property="idNum" jdbcType="VARCHAR" />
    <result column="card_num" property="cardNum" jdbcType="VARCHAR" />
    <result column="card_org" property="cardOrg" jdbcType="VARCHAR" />
    <result column="sign_num" property="signNum" jdbcType="VARCHAR" />
    <result column="req_trace_num" property="reqTraceNum" jdbcType="VARCHAR" />
    <result column="open_account_date" property="openAccountDate" jdbcType="TIMESTAMP" />
    <result column="open_account_status" property="openAccountStatus" jdbcType="SMALLINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ListResultMap" type="com.rong.openaccount.module.view.TvUserOpenAccount" extends="BaseResultMap" />
  <resultMap id="ViewResultMap" type="com.rong.openaccount.module.view.TvUserOpenAccount" extends="ListResultMap" />
  <sql id="Base_Column_List" >
    e.`id`, e.`user_id`, e.`user_name`, e.`phone_num`, e.`sex`, e.`id_num`, e.`card_num`, 
    e.`card_org`, e.`sign_num`, e.`req_trace_num`, e.`open_account_date`, e.`open_account_status`, 
    e.`create_date`, e.`update_date`
  </sql>
  <sql id="query_condition" >
    <if test="entity != null" >
      
    </if>
  </sql>
  <sql id="select_for_list_tv" >
    select 
    <include refid="Base_Column_List" />
    from tb_user_open_account e
  </sql>
  <select id="getCountPaging" resultType="java.lang.Integer" parameterType="com.rong.openaccount.module.query.TsUserOpenAccount" >
    select count(1) as recordCount from tb_user_open_account e where 1=1
    <include refid="query_condition" />
  </select>
  <select id="getListByBean" resultMap="ListResultMap" parameterType="com.rong.openaccount.module.query.TsUserOpenAccount" >
    <include refid="select_for_list_tv" />
     where 1=1 
    <include refid="query_condition" />
    <if test="orders !=null and orders.size > 0" >
      order by ${orderStr}
    </if>
    <if test="null != pageInfo" >
      limit #{pageInfo.step},#{pageInfo.pageSize}
    </if>
  </select>
</mapper>