
<style type="text/css">
    .list-btn{float:right;width:40px !important;margin-left:5px;}
</style>
<div class="boxSearch searchLong">
    <div>审核结果：</div>
    <div>
        <select class="selSearch no-render" name="e.auditResult.in" multiple="multiple" size="5"
                data-enumber="Consts.CustomerAuditState"
                data-load='{"defaultItem":{"全部":""}}'
        >
        </select>
    </div>
</div>
<div class="boxSearch searchLong">
    <div>是否可见：</div>
    <div>
        <select class="selSearch no-render" size="5"
                data-enumber="Consts.YesOrNo"
                data-load='{"defaultItem":{"全部":""}}'
                name="e.visible.eq"
        >
        </select>
    </div>
</div>
<div class="boxSearch searchLong">
    <div>评论类型：</div>
    <div>
        <select class="selSearch no-render" name="uc.type.in" multiple="multiple" size="5"
                data-enumber="Consts.CommentType"
                data-load='{"defaultItem":{"全部":""}}'
        >
        </select>
    </div>
</div>
<div class="boxSearch">
    <div>回复时间：</div>
    <div>
        <input type="text" class="timeSearch" name="e.createDate.ge" id="beginCreateDate" value=''/>
        <br />
        至
        <br />
        <input type="text" class="timeSearch" name="e.createDate.le" id="endCreateDate" value=''/>
    </div>
</div>
<div class="boxSearch searchLong">
    <div>真实姓名：</div>
    <div><input type="text" value='' class="input textSearch" name="mb.realName.like" /></div>
    <div>手机号码：</div>
    <div><input type="text" value='' class="input textSearch" name="mb.phone.like" /></div>
</div>
<div class="boxSearch searchLong">
    <div>回复内容：</div>
    <div><input type="text" value='' class="input textSearch" name="e.content.like" /></div>
</div>
<input type="hidden" id="type" name="e.type.eq" value='${(RequestParameters["type"])!""}' />
<input type="hidden" id="partyId" name="e.partyId.eq" value='${(RequestParameters["partyId"])!""}' />
<script>
    ifwin.width = 800;
    ifwin.height = 600;
    ifwin.showView = false;
    param.pageInfo.sortField="e.id";
    function showEditInfo(tr, v, i) {
        var html = "<a class='btn-list-view' style='margin-right:5px;' data-id='" + v + "'>详情</a>";
    <#if hasDelPermission!false >
        html += "<span style='margin-left:5px;margin-right:5px;'>&nbsp;</span><a class=\"btn-list-del\" data-id=\"" + v + "\">删除</a>";
    </#if>
        return html;
    }
    function bindVisibleFunc(tr,v,i){
        return defaultBindSwitchItem(tr["id"],"visible",v);
    }
    function bindTargetTypeFunc(tr,v,i){
        return findNameByValueFromConsts(Consts.CommentType,tr["commentType"]);
    }
    function bindreplyUserFunc(tr,v,i){
        return tr["replyUserName"]+"/"+tr["realName"];
    }
    function bindAuditStateFunc(tr,v,i){
        var html="";
        if(tr["auditResult"] == Consts.CustomerAuditState.待审核 || tr["auditResult"] == Consts.CustomerAuditState.再次提交){
            html +="<div class=\"viyui-btn viyui-btn-xs list-btn list-audit\" data-id='"+tr["id"]+"'>审核</div>";
        }
        html += "<div class='f-right'>"+findNameByValueFromConsts(Consts.CustomerAuditState,tr["auditResult"])+"</div>";
        return html;
    }
    function editItem(id,item,value){
        var param = {
            url:"${viewModel.editAction}",
            entity:{
                id:id
            }
        }
        param.entity[item] = value;
        editParam(param);
    }
    $(document).ready(function() {
        $('#beginCreateDate').datetimepicker({
            onShow: function (ct) {this.setOptions({maxDateTime: $('#endCreateDate').getDateValue()})}
        });
        $('#endCreateDate').datetimepicker({
            onShow: function (ct) {this.setOptions({minDateTime: $('#beginCreateDate').getDateValue()})}
        });
        $(viyGrid.selector).on("click",".list-audit",function(){
            var _this = $(this);
            lBox.newWin("审核","${auditAction}?id="+_this.attr("data-id"), ifwin.width, ifwin.height, true);
        });
    });
    function _audit(title,result,visible,id,memo){
        lBox.confirm({
            title:"确定将记录"+title+"吗？",
            content:"将记录"+title+"[警告，操作成功将不能回滚]",
            btnConfirmFunc:function(){
                var w = lBox.wait({content:"操作中..."});
                $.ajax({
                    url: "${auditAction}",
                    type: "post",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                        entity: {
                            id: id,
                            visible:visible,
                            auditResult: result
                        },
                        rejectReason:memo
                    }),
                    dataType: "json",
                    success: function (data) {
                        w.close(function () {
                            if (!checkResultIsOk(data)) {
                                return;
                            }
                            lBox.ok({
                                delay: 2000, title: "操作通知", content: data.message, success: function () {
                                    lBox.closeWin();
                                    viyGrid.reload.call(viyGrid);
                                }
                            });
                        });
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        w.close(function () {
                            lBox.alert({
                                content: "保存时出现异常！", success: function () {
                                    LET.openEvt = true;
                                }
                            });
                        })
                    }
                });
            }
        });
    }
</script>