
<style type="text/css">
    .list-btn{float:right;width:80px !important;margin-left:5px;}
</style>
<div class="box-search">
    <div>评论时间：
        <input type="text" placeholder="开始时间" class="timeSearch w85" name="e.createDate.gt" id="beginCreateDate" value=''/>
        ~
        <input type="text" placeholder="结束时间" class="timeSearch w85" name="e.createDate.lt" id="endCreateDate" value=''/>
    </div>
</div>
<div class="box-search">
    <div>预约姓名：<input placeholder="请输入预约姓名" type="text" value='' class="input textSearch w189" name="e.name.like" /></div>
</div>
<div class="box-search">
    <div>　手机号：<input placeholder="请输入手机号" type="text" value='' class="input textSearch w180" name="e.phone.like" /></div>
</div>
<div class="clear"></div>
<div class="box-search">
    <div>预约状态：
        <select class="selSearch no-render w194" name="e.dealStatus.in">
            <option value="">全部</option>
            <option value="0">未处理</option>
            <option value="1">已处理</option>
        </select>
    </div>
</div>
<div class="box-search">
    <div>预约类型：<select class="selSearch no-render w194" name="e.type.in">
        <option value="">全部</option>
        <option value="0">机构</option>
        <option value="1">基金经理</option>
        <option value="2">产品</option>
        <option value="3">路演</option>
    </select>
    </div>
</div>
<script>
    ifwin.listEditText = "操作";
    ifwin.width=1250;
    ifwin.height =650;
    param.pageInfo.sortField = "e.createDate";
    param.pageInfo.sortDistanct = "DESC";
    $(function(){
        $('#beginCreateDate').datetimepicker({
            onShow: function (ct) {this.setOptions({maxDateTime: $('#endCreateDate').getDateValue()})}
        });
        $('#endCreateDate').datetimepicker({
            onShow: function (ct) {this.setOptions({minDateTime: $('#beginCreateDate').getDateValue()})}
        });
        $(viyGrid.selector).on("click",".list-audit",function(){
            var _this = $(this);
            lBox.newWin("处理","${viewModel.editAction}?id="+_this.attr("data-id"), ifwin.width, ifwin.height, true);
        });
    });
    function bindTypeFunc(tr,v,i){
        return findNameByValueFromConsts(Consts.ReservationType,tr["type"]);
    }
    function bindDealStatusFunc(tr,v,i){
        return findNameByValueFromConsts(Consts.ReservationDealStatus,tr["dealStatus"]);
    }
    function showEditInfo(tr,v,i){
        var html="";
        if(tr["dealStatus"] == Consts.ReservationDealStatus.未处理){
            html +="<a class=\"viyui-btn viyui-btn-xs list-audit\" data-id=\"" + v + "\">处理</a>";
        } else {
            html +="<span style='margin-left:5px;margin-right:5px;'>&nbsp;</span><a class=\"btn-list-alter\" data-id=\"" + v + "\">查看详情</a>";
        }
        html += "<span style='margin-left:5px;margin-right:5px;'>&nbsp;</span><a class=\"btn-list-del\" data-id=\"" + v + "\">删除</a>";
        return html;
    }
</script>