<script>
    var alterBindParam = {
        afterRenderFunc:function(entity){
            $('#endDate').datetimepicker({
                onShow: function (ct) {this.setOptions({minDateTime: new Date()})}
            });
            for(var i=1;i<=8;++i){
                $("#pic-certificate"+i+"Url").attr("src",entity["certificate"+i+"Url"]);
            }
        },
        afterCheckFormFunc:function(entity){

        }
    }
    var submitOpt = {
        otherCheck:function(){
            var auditResult = $("#auditResult").val();
            if(auditResult == Consts.CustomerAuditState.通过审核){
                if(LE.isEmpty($("#endDate").val())){
                    lBox.alert({content:"请选择截止时间!"})
                    return false;
                }
            }
            if(!confirm("确定将该用户申请审核为：" + findNameByValueFromConsts(Consts.CustomerAuditState,auditResult) + "吗？")){
                return false;
            }
            return true;
        },
        wrap:function(req){
            var entity = req.entity;
        }
    };
</script>
<style type="text/css">
    .img-box{max-height:400px;overflow-y: auto;}
    .img-box img{height:80px;}
    .btn-save-as{display:none !important;}
</style>
<form autocomplete="off" class="comm-alter-form comm-iframe-form viy-form" name="comm-alter-form" action="${auditAction}">
    <input type="hidden" name="entity.id" id="id" value="0" />
    <input type="hidden" name="entity.appUserId" id="appUserId" />
    <div class="comm-outer-box">
        <div class="comm-inner-box">
            <div class="comm-item-box">
                <div class="comm-item-title"><div>用户信息</div></div>
                <div class="comm-item-content">
                    <div class="f-left"><span id="appUserName"></span>/<span id="appRealName"></span></div>
                </div>
            </div>
            <div class="comm-item-box">
                <div class="comm-item-title"><div>申请时间</div></div>
                <div class="comm-item-content">
                    <div class="f-left" id="createDate" data-bind-function="dateTimeFunc"></div>
                </div>
            </div>
            <div class="img-box">
                <div class="comm-item-box">
                    <div class="comm-item-title"><div>资料图片1</div></div>
                    <div class="comm-item-content"><img id="pic-certificate1Url"></div>
                </div>
                <div class="comm-item-box">
                    <div class="comm-item-title"><div>资料图片2</div></div>
                    <div class="comm-item-content"><img id="pic-certificate2Url"></div>
                </div>
                <div class="comm-item-box">
                    <div class="comm-item-title"><div>资料图片3</div></div>
                    <div class="comm-item-content"><img id="pic-certificate3Url"></div>
                </div>
                <div class="comm-item-box">
                    <div class="comm-item-title"><div>资料图片4</div></div>
                    <div class="comm-item-content"><img id="pic-certificate4Url"></div>
                </div>
                <div class="comm-item-box">
                    <div class="comm-item-title"><div>资料图片5</div></div>
                    <div class="comm-item-content"><img id="pic-certificate5Url"></div>
                </div>
                <div class="comm-item-box">
                    <div class="comm-item-title"><div>资料图片6</div></div>
                    <div class="comm-item-content"><img id="pic-certificate6Url"></div>
                </div>
                <div class="comm-item-box">
                    <div class="comm-item-title"><div>资料图片7</div></div>
                    <div class="comm-item-content"><img id="pic-certificate7Url"></div>
                </div>
                <div class="comm-item-box">
                    <div class="comm-item-title"><div>资料图片8</div></div>
                    <div class="comm-item-content"><img id="pic-certificate8Url"></div>
                </div>
            </div>
            <div class="comm-item-box">
                <div class="comm-item-title"><div>审核结果</div></div>
                <div class="comm-item-content">
                    <div class="f-left le-form-element switch" style="width:60px;">
                        <input type="hidden" class="switch" name="entity.auditResult" id="auditResult"
                               data-rules="required"
                               data-text="通过|不通过"
                               data-value="1|-1"
                        />
                    </div>
                </div>
            </div>
            <div class="comm-item-box">
                <div class="comm-item-title"><div>金V截止时间</div></div>
                <div class="comm-item-content">
                    <div class="f-left">
                        <input type="text"
                               data-tip="金V截止时间"
                               data-bind-function="dateTimeFunc"
                               class="input validator" name="endDate" id="endDate" />
                    </div>
                </div>
            </div>
        </div>
    </div>
<#include  "../../layout/comm-alter-btn.html" />
</form>
