<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rong.tong.pfunds.mapper.PfundResumeMapper" >
  <resultMap id="BaseResultMap" type="com.rong.tong.pfunds.module.entity.TbPfundResume" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="PERSON_ID" property="personId" jdbcType="BIGINT" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="ACCE_YEAR" property="acceYear" jdbcType="VARCHAR" />
    <result column="ACCE_MONTH" property="acceMonth" jdbcType="VARCHAR" />
    <result column="DIMI_YEAR" property="dimiYear" jdbcType="VARCHAR" />
    <result column="DIMI_MONTH" property="dimiMonth" jdbcType="VARCHAR" />
    <result column="PARTY_ID" property="partyId" jdbcType="BIGINT" />
    <result column="PARTY_FULL_NAME" property="partyFullName" jdbcType="VARCHAR" />
    <result column="POSITION" property="position" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="TMSTAMP" property="tmstamp" jdbcType="BIGINT" />
    <result column="IS_INCUMBENT" property="isIncumbent" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ListResultMap" type="com.rong.tong.pfunds.module.view.TvPfundResume" extends="BaseResultMap" />
  <resultMap id="ViewResultMap" type="com.rong.tong.pfunds.module.view.TvPfundResume" extends="ListResultMap" />
  <sql id="Base_Column_List" >
    e.`ID`, e.`PERSON_ID`, e.`NAME`, e.`ACCE_YEAR`, e.`ACCE_MONTH`, e.`DIMI_YEAR`, e.`DIMI_MONTH`, 
    e.`PARTY_ID`, e.`PARTY_FULL_NAME`, e.`POSITION`, e.`UPDATE_TIME`, e.`TMSTAMP`, e.`IS_INCUMBENT`
  </sql>
  <sql id="query_condition" >
    <if test="entity != null" >
      
    </if>
  </sql>
  <sql id="select_for_list_tv" >
    select 
    <include refid="Base_Column_List" />
    from `tong-rong`.pfund_resume e
  </sql>
  <select id="getCountPaging" resultType="java.lang.Integer" parameterType="com.rong.tong.pfunds.module.query.TsPfundResume" >
    select count(1) as recordCount from `tong-rong`.pfund_resume e where 1=1
    <include refid="query_condition" />
  </select>
  <select id="getListByBean" resultMap="ListResultMap" parameterType="com.rong.tong.pfunds.module.query.TsPfundResume" >
    <include refid="select_for_list_tv" />
     where 1=1 
    <include refid="query_condition" />
    <if test="orders !=null and orders.size > 0" >
      order by ${orderStr}
    </if>
    <if test="null != pageInfo" >
      limit #{pageInfo.step},#{pageInfo.pageSize}
    </if>
  </select>
</mapper>