<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rong.fundmanage.mapper.OrgManageMapper" >
  <resultMap id="BaseResultMap" type="com.rong.fundmanage.module.entity.TbOrgManage" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="deltag" property="deltag" jdbcType="BIT" />
    <result column="party_id" property="partyId" jdbcType="BIGINT" />
    <result column="visible" property="visible" jdbcType="BIT" />
    <result column="recommend" property="recommend" jdbcType="BIT" />
    <result column="hot_search" property="hotSearch" jdbcType="BIT" />
    <result column="type" property="type" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ListResultMap" type="com.rong.fundmanage.module.view.TvOrgManage" extends="BaseResultMap" />
  <resultMap id="ViewResultMap" type="com.rong.fundmanage.module.view.TvOrgManage" extends="ListResultMap" />
  <sql id="Base_Column_List" >
    e.`id`, e.`create_date`, e.`update_date`, e.`deltag`, e.`party_id`, e.`visible`, 
    e.`recommend`, e.`hot_search`,e.`type`
  </sql>
  <sql id="query_condition" >
    <if test="entity != null" >
      
    </if>
  </sql>
  <sql id="select_for_list_tv" >
    select 
    <include refid="Base_Column_List" />
    from tb_org_manage e
  </sql>
  <select id="getCountPaging" resultType="java.lang.Integer" parameterType="com.rong.fundmanage.module.query.TsOrgManage" >
    select count(1) as recordCount from tb_org_manage e where 1=1
    <include refid="query_condition" />
  </select>
  <select id="getListByBean" resultMap="ListResultMap" parameterType="com.rong.fundmanage.module.query.TsOrgManage" >
    <include refid="select_for_list_tv" />
     where 1=1 
    <include refid="query_condition" />
    <if test="orders !=null and orders.size > 0" >
      order by ${orderStr}
    </if>
    <if test="null != pageInfo" >
      limit #{pageInfo.step},#{pageInfo.pageSize}
    </if>
  </select>
</mapper>