<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rong.tong.fund.mapper.FundNavMapper" >
  <resultMap id="BaseResultMap" type="com.rong.tong.fund.module.entity.TbFundNav" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="SECURITY_ID" property="securityId" jdbcType="BIGINT" />
    <result column="PUBLISH_DATE" property="publishDate" jdbcType="DATE" />
    <result column="END_DATE" property="endDate" jdbcType="DATE" />
    <result column="CURRENCY_CD" property="currencyCd" jdbcType="CHAR" />
    <result column="NAV" property="nav" jdbcType="DECIMAL" />
    <result column="ACCUM_NAV" property="accumNav" jdbcType="DECIMAL" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="TMSTAMP" property="tmstamp" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ListResultMap" type="com.rong.tong.fund.module.view.TvFundNav" extends="BaseResultMap" />
  <resultMap id="ViewResultMap" type="com.rong.tong.fund.module.view.TvFundNav" extends="ListResultMap" />
  <sql id="Base_Column_List" >
    e.`ID`, e.`SECURITY_ID`, e.`PUBLISH_DATE`, e.`END_DATE`, e.`CURRENCY_CD`, e.`NAV`, 
    e.`ACCUM_NAV`, e.`UPDATE_TIME`, e.`TMSTAMP`
  </sql>
  <sql id="query_condition" >
    <if test="entity != null" >
      
    </if>
  </sql>
  <sql id="select_for_list_tv" >
    select 
    <include refid="Base_Column_List" />
    from `tong-rong`.`fund_nav` e
  </sql>
  <select id="getCountPaging" resultType="java.lang.Integer" parameterType="com.rong.tong.fund.module.query.TsFundNav" >
    select count(1) as recordCount from `tong-rong`.`fund_nav` e where 1=1
    <include refid="query_condition" />
  </select>
  <select id="getListByBean" resultMap="ListResultMap" parameterType="com.rong.tong.fund.module.query.TsFundNav" >
    <include refid="select_for_list_tv" />
     where 1=1 
    <include refid="query_condition" />
    <if test="orders !=null and orders.size > 0" >
      order by ${orderStr}
    </if>
    <if test="null != pageInfo" >
      limit #{pageInfo.step},#{pageInfo.pageSize}
    </if>
  </select>
</mapper>