<form autocomplete="off" class="comm-view-form comm-iframe-form viy-form">
    <div class="comm-outer-box">
        <div class="comm-inner-box">
            <div class="comm-item-box">
                <div class="comm-item-title"><div>标题</div></div>
                <div class="comm-item-content"><div class="f-left" id="title"></div></div>
            </div>
            <div class="comm-item-box">
                <div class="comm-item-title"><div>生成时间</div></div>
                <div class="comm-item-content"><div class="f-left" id="createDate"></div></div>
            </div>
            <div class="comm-item-box">
                <div class="comm-item-title"><div>提醒时间</div></div>
                <div class="comm-item-content"><div class="f-left" id="remindTime"></div></div>
            </div>
            <div class="comm-item-box">
                <div class="comm-item-title"><div>内容</div></div>
                <div class="comm-item-content"><div class="f-left" id="content"></div></div>
            </div>
            <div class="comm-item-box">
                <div class="comm-item-title"><div>状态</div></div>
                <div class="comm-item-content"><div class="f-left" id="stateDesc"></div></div>
            </div>
            <div class="comm-item-box">
                <div class="comm-item-title"><div>标签</div></div>
                <div class="comm-item-content"><div class="f-left" id="labelNames"></div></div>
            </div>
        </div>
    </div>
    <#include  "../../layout/comm-view-btn.html" />
</form>
