<div class="boxSearch searchLong">
    <div>当前标签：</div>
    <div id="queryLabelName">${label.name}</div>
</div>
<div class="boxSearch searchLong">
    <div>是否可见：</div>
    <div>
        <select class="selSearch no-render" size="5"
                data-enumber="Consts.YesOrNo"
                data-load='{"defaultItem":{"全部":""}}'
                name="e.visible.eq"
        >

        </select>
    </div>
</div>
<div class="boxSearch searchLong">
    <div>是否推荐：</div>
    <div>
        <select class="selSearch no-render" size="5"
                data-enumber="Consts.YesOrNo"
                data-load='{"defaultItem":{"全部":""}}'
                name="e.recommend.eq"
        >
        </select>
    </div>
</div>
<div class="boxSearch searchLong">
    <div>基金简称：</div>
    <div><input type="text" value='' class="input textSearch" name="ms.secShortName.like" /></div>
    <div>基金全名：</div>
    <div><input type="text" value='' class="input textSearch" name="ms.secFullName.like" /></div>
</div>
<input type="hidden" name="e.labelId.eq" value="${label.id}" id="queryLabelId" />
<script>
    ifwin.btnAddText = "选择该标签产品";
    function showEditInfo(tr,v,i){
        return "--";
    }
    function bindVisibleFunc(tr,v,i){
        return defaultBindSwitchItem(tr["id"],"visible",v);
    }
    function bindRecommendFunc(tr,v,i) {
        return defaultBindSwitchItem(tr["id"],"recommend",v);
    }
    function editItem(id,item,value){
        var param = {
            url:"${viewModel.editAction}",
            entity:{
                id:id
            }
        }
        param.entity[item] = value;
        editParam(param);
    }
</script>