<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rong.user.mapper.UserEmploymentCertMapper" >
  <resultMap id="BaseResultMap" type="com.rong.user.module.entity.TbUserEmploymentCert" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="SMALLINT" />
    <result column="org_type" property="orgType" jdbcType="SMALLINT" />
    <result column="org_name" property="orgName" jdbcType="VARCHAR" />
    <result column="position_name" property="positionName" jdbcType="VARCHAR" />
    <result column="employment_year_num" property="employmentYearNum" jdbcType="SMALLINT" />
    <result column="personal_card_img" property="personalCardImg" jdbcType="VARCHAR" />
    <result column="qualification_cert_img" property="qualificationCertImg" jdbcType="VARCHAR" />
    <result column="auth_status" property="authStatus" jdbcType="SMALLINT" />
    <result column="auth_msg" property="authMsg" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ListResultMap" type="com.rong.user.module.view.TvUserEmploymentCert" extends="BaseResultMap" />
  <resultMap id="ViewResultMap" type="com.rong.user.module.view.TvUserEmploymentCert" extends="ListResultMap" />
  <sql id="Base_Column_List" >
    e.`id`, e.`user_id`, e.`user_name`, e.`sex`, e.`org_type`, e.`org_name`, e.`position_name`, 
    e.`employment_year_num`, e.`personal_card_img`, e.`qualification_cert_img`, e.`auth_status`, 
    e.`auth_msg`, e.`create_date`, e.`update_date`
  </sql>
  <sql id="query_condition" >
    <if test="entity != null" >
      
    </if>
  </sql>
  <sql id="select_for_list_tv" >
    select 
    <include refid="Base_Column_List" />
    from tb_user_employment_cert e
  </sql>
  <select id="getCountPaging" resultType="java.lang.Integer" parameterType="com.rong.user.module.query.TsUserEmploymentCert" >
    select count(1) as recordCount from tb_user_employment_cert e where 1=1
    <include refid="query_condition" />
  </select>
  <select id="getListByBean" resultMap="ListResultMap" parameterType="com.rong.user.module.query.TsUserEmploymentCert" >
    <include refid="select_for_list_tv" />
     where 1=1 
    <include refid="query_condition" />
    <if test="orders !=null and orders.size > 0" >
      order by ${orderStr}
    </if>
    <if test="null != pageInfo" >
      limit #{pageInfo.step},#{pageInfo.pageSize}
    </if>
  </select>
</mapper>