<script>
    function setItem(type){
        var sel = $("#orgInfo");
        var param = sel.data("param");
        var val = sel.val();
        if(!LE.isEmpty(val)){
            var obj = param.selectedItems;
            if(null != obj) {
                $("#partyId").val(obj[0].partyId);
            }
        }
    }
    function setUser(type){
        var sel = $("#userInfo");
        var param = sel.data("param");
        var val = sel.val();
        if(!LE.isEmpty(val)){
            var obj = param.selectedItems;
            if(null != obj) {
                $("#userId").val(obj[0].id);
            }
        }
    }
    var submitOpt = {
        wrap: function (req) {
            req.labelIds = $("#labelList .selected").map(function () {return $(this).attr("data-val");}).get();
        }
    };
    var alterBindParam = {
        beforeBindFunc:function(entity){
          var labelList = ${labelList};
          repeater("#specItemHtml","#labelList",labelList);
          if(null != entity.orgLabels){
              entity.labelIds = entity.orgLabels.map(function(x){return x.labelId;}).join(",");
              $("#labelList a").each(function(){
                  if(LE.in_str(entity.labelIds,$(this).attr("data-val"),",")){
                      $(this).addClass("selected");
                  }
              });
          }
        },
        afterBindFunc: function (entity) {
            if(entity["id"] != null && entity.id > 0){
                $("#editBox .viy-select-item-box").remove();
                $("#editBox .viy-edited-info").removeClass("hide");
            }
        }
    }
</script>
<form autocomplete="off" class="comm-alter-form comm-iframe-form viy-form" name="comm-alter-form" action="${viewModel.alterActionUrl}">
    <input type="hidden" name="entity.id" id="id" value="0" />
    <input type="hidden" name="entity.visible" id="visible" value="true" />
    <input type="hidden" name="entity.recommend" id="recommend" value="false" />
    <input type="hidden" name="entity.type" id="type" value="0"/>
    <input type="hidden" name="entity.partyId" id="partyId" />
    <input type="hidden" name="entity.userId" id="userId" />
    <div class="comm-outer-box" id="editBox">
        <div class="comm-inner-box">
            <div class="comm-item-box viy-select-item-box">
                <div class="comm-item-title"><div>选择私募机构</div></div>
                <div class="comm-item-content">
                    <div class="f-left select-com-box le-form-element" style="width:430px;z-index:999;">
                        <select id="orgInfo"
                                data-rules="required"
                                class="validator"
                                data-load='{"url":"/private-fund/org/simple-list?","queryFields":{"i.partyFullName.like":""},"listFields":{"textField":"partyFullName","valueField":"partyId"},"lazy":true,"readonly":false,"placeHolder":"请输入查询","defaultItem":{"partyId":"","partyFullName":"请输入查询"}}'
                                data-change="function(){setItem(0);}"
                        >
                        </select>
                    </div>
                </div>
            </div>
            <div class="comm-item-box viy-select-item-box">
                <div class="comm-item-title"><div>选择直营店用户</div></div>
                <div class="comm-item-content">
                    <div class="f-left select-com-box le-form-element" style="width:300px;z-index:998;">
                        <select id="userInfo"
                                data-rules="required"
                                class="validator"
                                data-load='{"url":"/mem/base/manager-list?e.type.eq=4","queryFields":{"e.realName.like":""},"listFields":{"textField":"realName","valueField":"id"},"lazy":true,"readonly":false,"placeHolder":"请输入查询","defaultItem":{"id":"","realName":"请输入查询"}}'
                                data-change="function(){setUser(1);}"
                        >
                        </select>
                    </div>
                </div>
            </div>
            <div class="comm-item-box viy-edited-info hide">
                <div class="comm-item-title"><div>机构简称</div></div>
                <div class="comm-item-content">
                    <div class="f-left"><div data-bind-id="partyShortName"></div></div>
                </div>
            </div>
            <div class="comm-item-box viy-edited-info hide">
                <div class="comm-item-title"><div>直营店用户</div></div>
                <div class="comm-item-content">
                    <div class="f-left"><span data-bind-id="userName"></span>/<span data-bind-id="realName"></span></div>
                </div>
            </div>
            <div class="comm-item-box">
                <div class="comm-item-title"><div>选择标签</div></div>
                <div class="comm-item-content">
                    <div class="f-left">
                        <div id="labelList" class="page_pri_div selected-box">
                        </div>
                    </div>
                </div>
            </div>
            <div class="comm-item-box">
                <div class="comm-item-title"><div>备注</div></div>
                <div class="comm-item-content">
                    <div class="f-left">
                        <textarea name="entity.remark" id="remark" class="input textarea" cols="80" rows="6"></textarea>
                    </div>
                </div>
            </div>
            <div class="comm-item-box">
                <div class="comm-item-title"><div>自定义标签0</div></div>
                <div class="comm-item-content">
                    <div class="f-left">
                        <textarea name="entity.labelVar0" id="labelVar0" class="input textarea" cols="80" rows="6"></textarea>
                    </div>
                </div>
            </div>
            <div class="comm-item-box">
                <div class="comm-item-title"><div>自定义标签1</div></div>
                <div class="comm-item-content">
                    <div class="f-left">
                        <textarea name="entity.labelVar1" id="labelVar1" class="input textarea" cols="80" rows="6"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
<#include  "../../layout/comm-alter-btn.html" />
</form>
<script id="specItemHtml" type="text/html">
    <a data-val='{id}' data-fc="function(){$(this).toggleClass('selected');}">{name}<i class="icon-zui"></i></a>
</script>
